.container {
  padding-top: 30px;
  width: 300px;
  margin: auto;
}

.input {
  margin-left: auto;
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
  
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #446477;
  display: flex;
  justify-content: space-between;
}

.user-id {
  color: #ffffff;
  margin-right: 20px;
}

.user-distance {
  color: #ffffff;
  margin-right: 20px;
}

.user-name {
  color: #ffffff;
}

.user-age {
  margin-left: auto;
}