.container-search-bar{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.input{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.user-list {
  margin-top: 30px;
  width: 85%;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #446477;
  display: flex;
  justify-content: space-between;
  
}

.user-id {
  color: #ffffff;
  margin-right: 20px;
}

.user-distance {
  color: #ffffff;
  margin-right: 20px;
}

.user-name {
  color: #ffffff;
}

.filter-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view-restaurant{
  
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #609DB4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.view-restaurant:hover {background-color: #243C44}

.view-restaurant:active {
    background-color: #609DB4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}