.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.image{
    width: 100%; height: auto;
}

.large-text{
    font-size: 2.75rem;
    font-weight: 700;
}

.description-text{
    font-size: 1.2rem;
}

.text-container{
    text-align: center;
    margin-bottom: 3rem;
}

.button{
    background-color: #F49464; 
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem/* 8px */;
}


@media screen and (min-width: 768px) {
    .container{
        flex-direction: row;
    }
    .text-container{
        text-align: left;
        margin-right: 5rem;
    }
}