.restaurant-info-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.restaurant-info-button{
    border: none;
    background: #f4f2f2;
    /* padding-right: 2rem;
    padding-left: 2rem; */
    width:30%;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    border-radius: 1rem;
    --tw-shadow: 0 15px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}