.dashboard-layout{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.food-card-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.75rem; /* 12px */
}